In [8]:
import pandas as pd

df = pd.read_csv("stock_history-2024-05-15T18-30-10+03.csv")
df

,Date,Ticker,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Capital Gains
0,2014-05-15T00:00:00-04,VOO,172.899994,172.929993,170.869995,171.669998,143.722656,3191100,0.0,0.0,0.0
1,2014-05-16T00:00:00-04,VOO,171.800003,172.360001,171.100006,172.339996,144.283554,699600,0.0,0.0,0.0
2,2014-05-19T00:00:00-04,VOO,171.979996,173.100006,171.809998,172.929993,144.777527,926900,0.0,0.0,0.0
3,2014-05-20T00:00:00-04,VOO,172.860001,172.880005,171.410004,171.789993,143.823120,669400,0.0,0.0,0.0
4,2014-05-21T00:00:00-04,VOO,172.360001,173.369995,172.309998,173.279999,145.070541,991300,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
151108,2024-05-09T00:00:00-04,IT,434.329987,436.799988,427.709991,436.750000,436.750000,363600,0.0,0.0,0.0
151109,2024-05-10T00:00:00-04,IT,438.559998,440.010010,436.429993,439.269989,439.269989,311000,0.0,0.0,0.0
151110,2024-05-13T00:00:00-04,IT,440.549988,442.380005,436.429993,440.089996,440.089996,369800,0.0,0.0,0.0
151111,2024-05-14T00:00:00-04,IT,441.149994,444.149994,433.480011,436.570007,436.570007,341800,0.0,0.0,0.0
151112,2024-05-15T00:00:00-04,IT,439.220001,444.920013,435.339996,444.350006,444.350006,54563,0.0,0.0,0.0

In [9]:
column_mapping={
    "Date": "date_at",
    "Ticker": "ticker",
    "Open": "open",
    "High": "high",
    "Low": "low",
    "Close": "close",
    "Adj Close": "adjusted_close",
    "Volume": "volume",
    "Dividends": "dividends",
    "Stock Splits": "stock_splits",
    "Capital Gains": "capital_gains",
}
df = df.rename(columns=column_mapping)

In [10]:
shuffled_df = df.sample(frac=1)
shuffled_df.to_csv("shuffled_stock_history-2024-05-15.csv", index=False)